<div class="relative w-full p-10 overflow-hidden">
    <div 
        class="fixed inset-0 w-full h-full bg-cover bg-center -z-10" 
        [ngStyle]="{'background-image': 'url(' + backgroundImagePath + ')'}">
    </div>

    <div class="flex items-start h-full">
        <div class="rounded-xl p-15 mt-45 max-w-xl flex flex-col justify-between h-full">
            <div>
                <h1 class="text-white text-7xl font-extrabold tracking-tight drop-shadow-lg mb-4">
                    Build Your Dream PC<br>
                    <span class="text-blue-400">Powered by AI</span>
                </h1>
                <p class="text-gray-200 text-xl font-medium drop-shadow mb-10">
                    Get intelligent recommendations and assemble the perfect system for your needs.
                </p>
            </div>
            <div class="flex gap-6 mt-35">
                <button 
                    routerLink="/builds"
                    class="bg-blue-500 text-white px-12 py-6 rounded-lg text-2xl font-semibold shadow hover:bg-blue-600 transition whitespace-nowrap cursor-pointer active:scale-95 duration-150 flex items-center gap-3"
                >
                    <img [src]="iconImagePath" alt="Start Build Icon" class="w-7 h-7" />
                    Start Build
                </button>
            </div>
        </div>
    </div>
</div>