<nav 
  class="w-full flex items-center justify-between bg-transparent px-8 sm:px-14 py-5 fixed top-0 left-0 z-50 h-24"
  style="right:0;">
  
  <div>
    <a 
      routerLink="/" 
      class="text-2xl sm:text-3xl font-semibold text-white uppercase tracking-widest hover:text-blue-200 transition-colors duration-300"
      >PC Configure</a>
  </div>

  <div class="flex items-center gap-14 sm:gap-16">
    <a 
      routerLink="/products" 
      routerLinkActive="text-blue-200"
      class="text-base sm:text-lg font-medium text-white hover:text-blue-200 transition-colors duration-300 uppercase tracking-wider"
      >Products</a>
    
    <ng-container *ngIf="isLoggedIn()">
        <a 
        routerLink="/builds"
        routerLinkActive="text-blue-400"
        class="text-sm sm:text-base font-medium text-gray-300 hover:text-white transition-colors duration-300 uppercase tracking-wider">
            My Builds
        </a>

        <button (click)="logout()"
            class="text-sm sm:text-base font-medium text-gray-300 hover:text-white transition-colors duration-300 uppercase tracking-wider">
            Logout
        </button>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn()">
      <a routerLink="/login" 
         routerLinkActive="text-blue-400"
         class="text-sm sm:text-base font-medium text-gray-300 border-1 border-white py-2 px-5 hover:text-white transition-colors duration-300 uppercase tracking-wider">
        Login
      </a>
      <a routerLink="/register" 
         class="hidden md:inline-block bg-white text-black font-semibold py-2 px-5 hover:bg-gray-200 transition-colors duration-300 text-sm">
        Sign Up
      </a>
    </ng-container>
  </div>
</nav>